// containers

@mixin container() {
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  $extraBreak: 1400px;
  max-width: $extraBreak;
}

@mixin readable() {
  @include container();
  max-width: var(--readableMax);
}

// TODO if you remove these, update the changes

@mixin highlight(
    $color: var(--colorHighlight),
    $hoverColor: var(--colorWhite),
    $backgroundColor: var(--colorHighlight) 
  ) {
  color: $color;
  transition: var(--transitionSpeed);
  background-image: linear-gradient(to right, transparent 51%, $backgroundColor 49%);
  background-position: 0;
  background-size: 200%;
  padding: 0 .125em;

  &:hover {
    color: $hoverColor;
    background-image: linear-gradient(to right, transparent 50%, $backgroundColor 50%);
    background-position: -100%;
  }
}
